.contact {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(143, 78, 48, .3);

  &__inner {
    position: relative;
    max-width: 40vw;
    min-width: 420px;
    width: 100%;
    padding: 40px 60px;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    @media (max-width:480px) {
      min-width: 300px;
      padding: 40px 20px;
    }
  }

  &__title {
    align-self: flex-start;
  }

  &__list {
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__img {
    height: 40px;

    @media (max-width:480px) {
      height: 20px;
    }
  }

  &__link {
    font-size: 18px;
    color: rgba(143, 78, 48, 1);

    @media (max-width:480px) {
      font-size: 14px;
    }
  }

  &__close {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: none;
    background: none;
    right: 40px;
    transition: .3s;

    @media (max-width:480px) {
      right: 20px;
      top: 20px;
    }

    &:hover {
      transform: rotate(180deg);
    }
  }
}